.nav-wrapper {
  display: flex;
  padding: 14px;
  justify-content: space-between;
  box-shadow: 2px 2px 4px 2px #ccc;
}

.logo {
  font-size: 28px;
  font-weight: 500;
  color: white;
  margin-left: 2px;
  margin-right: 0px;

  &:hover {
    background: #0095ff;
  }
}

.pp {
  font-size: 20px;
  background: $comp;
  border-radius: 100%;

  &:hover {
    background: #f45300;
  }
}
