a,
.btn {
  color: white;
  text-decoration: none;
  background-color: $primary;
  font-size: 18px;
  font-weight: 500;
  padding: 6px;
  margin-right: 8px;
  border-radius: 6px;

  &:hover {
    background: #0086f0;
  }
}

.btn {
  font-size: 14px;
  padding: 8px;
  font-weight: 600;
  border: none;
  box-shadow: 1px 1px 2px 1px #ccc;
  transition: box-shadow 100ms ease;

  &:hover {
    box-shadow: 4px 4px 12px 6px #ddd;
  }
}
