* {
  margin: 0;
  padding: 0;
  border-style: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h5 {
  opacity: 87%;
  font-size: 22px;
  font-weight: 600;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  background: #eee;
}

.primary {
  background: $primary;
}

.right {
  float: right;
}

li {
  list-style-type: none;
}

.caption {
  opacity: 54%;
}

p {
  opacity: 87%;
}

.container {
  &-spaced {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  &-center {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="firstName"]:not(.browser-default):focus:not([readonly]),
input[type="lastName"]:not(.browser-default):focus:not([readonly]),
textarea.text-area:focus:not([read-only]) {
  border-color: $comp;
}
