.text-area {
  width: 100%;
  max-width: 100%;
  height: 120px;
  border: 1px solid #bbb;
  box-shadow: 1px 1px 2px 1px #ccc;
  padding: 5px;
  transition: box-shadow ease 100ms;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.87);

  &:focus {
    box-shadow: 2px 2px 6px 3px #cdcdcd;
  }
}
