.row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.col {
  padding: 10px;
}

.card {
  padding: 10px;
  margin: 10px;
  border-radius: 6px;
  background: white;
  box-shadow: 1px 1px 2px 1px #ccc;

  &-content {
    padding: 2px;
  }

  &-title {
    opacity: 87%;
  }
}
