form {
  width: 200px;
  margin: 40px auto;
  padding: 30px;

  background: white;
  border-radius: 6px;
  box-shadow: 1px 1px 2px 1px #ccc;
}

label {
  opacity: 54%;

  &:focus {
    background: red;
  }
}

input {
  border: none;
  border-bottom: 1px solid #bbb;
  width: 100%;
  padding: 4px;
}

.input-field {
  padding: 10px 6px;
}
