* {
  margin: 0;
  padding: 0;
  border-style: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h5 {
  opacity: 87%;
  font-size: 22px;
  font-weight: 600;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  background: #eee;
}

.primary {
  background: #00a4ff;
}

.right {
  float: right;
}

li {
  list-style-type: none;
}

.caption {
  opacity: 54%;
}

p {
  opacity: 87%;
}

.container-spaced {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a,
.btn {
  color: white;
  text-decoration: none;
  background-color: #00a4ff;
  font-size: 18px;
  font-weight: 500;
  padding: 6px;
  margin-right: 8px;
  border-radius: 6px;
}

a:hover,
.btn:hover {
  background: #0086f0;
}

.btn {
  font-size: 14px;
  padding: 8px;
  font-weight: 600;
  border: none;
  -webkit-box-shadow: 1px 1px 2px 1px #ccc;
          box-shadow: 1px 1px 2px 1px #ccc;
  -webkit-transition: -webkit-box-shadow 100ms ease;
  transition: -webkit-box-shadow 100ms ease;
  transition: box-shadow 100ms ease;
  transition: box-shadow 100ms ease, -webkit-box-shadow 100ms ease;
}

.btn:hover {
  -webkit-box-shadow: 4px 4px 12px 6px #ddd;
          box-shadow: 4px 4px 12px 6px #ddd;
}

.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 2px 2px 4px 2px #ccc;
          box-shadow: 2px 2px 4px 2px #ccc;
}

.logo {
  font-size: 28px;
  font-weight: 500;
  color: white;
  margin-left: 2px;
  margin-right: 0px;
}

.logo:hover {
  background: #0095ff;
}

.pp {
  font-size: 20px;
  background: #ff5900;
  border-radius: 100%;
}

.pp:hover {
  background: #f45300;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.col {
  padding: 10px;
}

.card {
  padding: 10px;
  margin: 10px;
  border-radius: 6px;
  background: white;
  -webkit-box-shadow: 1px 1px 2px 1px #ccc;
          box-shadow: 1px 1px 2px 1px #ccc;
}

.card-content {
  padding: 2px;
}

.card-title {
  opacity: 87%;
}

form {
  width: 200px;
  margin: 40px auto;
  padding: 30px;
  background: white;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 2px 1px #ccc;
          box-shadow: 1px 1px 2px 1px #ccc;
}

label {
  opacity: 54%;
}

label:focus {
  background: red;
}

input {
  border: none;
  border-bottom: 1px solid #bbb;
  width: 100%;
  padding: 4px;
}

.input-field {
  padding: 10px 6px;
}
/*# sourceMappingURL=main.css.map */